<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Kodchasan-Bold.ttf</string>
		<string>Kodchasan-BoldItalic.ttf</string>
		<string>Kodchasan-ExtraLight.ttf</string>
		<string>Kodchasan-ExtraLightItalic.ttf</string>
		<string>Kodchasan-Italic.ttf</string>
		<string>Kodchasan-Light.ttf</string>
		<string>Kodchasan-LightItalic.ttf</string>
		<string>Kodchasan-Medium.ttf</string>
		<string>Kodchasan-MediumItalic.ttf</string>
		<string>Kodchasan-Regular.ttf</string>
		<string>Kodchasan-SemiBold.ttf</string>
		<string>Kodchasan-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
